version: "3"

services:
  
  notification-socketio:
    container_name: notification-socketio
    image: ramesesinc/notification-server:1.0
    restart: always
    logging:
      driver: "json-file"
      options: 
        max-file: "5"
        max-size: 10m
    environment:
      TZ: "Asia/Manila"
    env_file:
      - ./env.conf
    ports: 
      - "7080:8080"
